/* Set default font to all elements */
* {
    font-family: "Open Sans";
  }
  
  input {
    font-variant-numeric: nominal;
  }
  
  /*
  Gaia theme variables
  */
  
  :root {
  
    /** Grey Colors
     ---------------------------------------------------------*/
  
    /* KaiOS Colors 
  
    --color-gs100: #000000;
    --color-gs90: #181818;
    --color-gs70: #6a6a6a;
    --color-gs45: #8c8c8c;
    --color-gs20: #cccccc;
    --color-gs10: #e6e6e6;
    --color-gs00: #ffffff;
    
    
    --color-alpha: #333333;
    --color-beta: #ffffff;
    --color-gamma: #4d4d4d;
    --color-delta: #5f5f5f;
    --color-epsilon: #858585;
    --color-zeta: #a6a6a6;
    --color-eta: #c7c7c7;
    --color-theta: #e7e7e7;
    --color-iota: #f4f4f4;
    --color-white: #ffffff;
  
    */
  
     /* KaiOS Dark-mode edited color scale */
    --color-gs100: #ffffff;
    --color-gs90: #e6e6e6;
    --color-gs70: #cccccc;
    --color-gs45: #8c8c8c;
    --color-gs20: #6a6a6a;
    --color-gs10: #181818;
    --color-gs00: #000000;
  
    --color-alpha: #cccccc;
    --color-beta: #000000;
    --color-gamma: #b2b2b2;
    --color-delta: #a0a0a0;
    --color-epsilon: #7a7a7a;
    --color-zeta: #595959;
    --color-eta: #383838;
    --color-theta: #181818;
    --color-iota: #0b0b0b;
    --color-white: #000000;
  
  
  /** Brand Colors
   ---------------------------------------------------------*/
  
    --color-darkblue: #00539f;
    --color-blue: #00caf2;
    --color-turquoise: #27c8c2;
    --color-darkorange: #e66000;
    --color-orange: #ff9500;
    --color-yellow: #ffcb00;
    --color-violet: #c40c84;
    --color-carrotorange: #eb9423;
    --color-wathetblue: #005da5;
  
    /* gold */
    --color-gold: #ffa000;
    --color-gold-pressed: #cc8000;
  
    --color-warning: #fbbd3c;
    --color-destructive: #e2443a;
    --color-preffered: #00ba91;
  
  
  
    --color-purple: #8000ff;
    --color-pink: #e60060;
    --color-lime: #00bf60;
    --color-cyan: #1cc1c4;
    --color-blue: #0073e6;
    --color-orange: #ff4f1a;
    --color-red: #d90036;
  
    --color-purple-pressed: #5900b3;
    --color-pink-pressed: #990040;
    --color-lime-pressed: #007339;
    --color-cyan-pressed: #08888a;
    --color-blue-pressed: #004d99;
    --color-orange-pressed: #cc5310;
    --color-red-pressed: #b4002d;
  
    /** Background
     ---------------------------------------------------------*/
  
    --background: var(--color-beta);
    --background-plus: var(--color-theta);
    --background-minus: var(--color-zeta);
  
    /** Text Color
     ---------------------------------------------------------*/
  
    --text-color: var(--color-gamma);
    --text-color-minus: var(--color-eta);
  
    /** Button
     ---------------------------------------------------------*/
  
    --button-background: var(--color-iota);
  
    /** Links
     ---------------------------------------------------------*/
  
    --link-color: var(--highlight-color);
  
    /** Inputs
     ---------------------------------------------------------*/
  
    --input-background: var(--color-beta);
    --input-color: var(--color-alpha);
    --input-clear-background: #909ca7;
  
    /** Buttons
     ---------------------------------------------------------*/
  
    --button-box-shadow:
      inset 0 -1px 0 #d8d8d8,
      inset 0 1px 0 #eeeeee;
    --button-box-shadow-active: var(--button-box-shadow);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-purple-background: #2a0361;
    --header-pink-background: #3d041c;
    --header-lime-background: #00462c;
    --header-cyan-background: #045463;
    --header-blue-background: #012b68;
    --header-orange-background: #381e0d;
    --header-red-background: #530015;
  
    --header-disabled-button-color: rgba(255,255,255,0.3);
  
    /** Statusbar, Softkeybar and ClientHeight
     *  Should update to proper value according to device size
     ---------------------------------------------------------*/
    --statusbar-height: 2.6rem;
    --softkeybar-height: 3rem;
    --header-height: 2.8rem;
    --header-large-text-height: 2.4rem;
    --tabbar-height: 3rem;
    --rocketbar-urlbar-height: 3.6rem;
    --statusbar-softkeybar-height: 5.6rem;
    --header-tabbar-height: 5.8rem;
  
    --client-height: calc(100% - var(--statusbar-softkeybar-height));
  }
  
  :root .large-text {
    --rocketbar-urlbar-height: 4.2rem;
  }
  
  .theme-system,
  .theme-launcher {
  
    /** Brand Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-purple);
    --highlight-color-pressed: var(--color-purple-pressed);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: var(--header-purple-background);
  
    --header-color: var(--color-beta);
  }
  
  .theme-browser,
  .theme-service {
  
    /** Brand Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-cyan);
    --highlight-color-pressed: var(--color-cyan-pressed);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: var(--header-cyan-background);
  
    --header-color: var(--color-beta);
  }
  
  .theme-productivity {
  
    /** Brand Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-orange);
    --highlight-color-pressed: var(--color-orange-pressed);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: var(--header-orange-background);
  
    --header-color: var(--color-beta);
  }
  
  .theme-calendar {
  
    /** Brand Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-orange);
    --highlight-color-pressed: var(--color-orange-pressed);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: #F5F5F5;
  
    --header-color: var(--color-orange-pressed);
  }
  
  .theme-communications {
  
    /** Brand Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-lime);
    --highlight-color-pressed: var(--color-lime-pressed);
  
    /** Links
     ---------------------------------------------------------*/
  
    --link-color: #177874;
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: var(--header-lime-background);
    --header-color: var(--color-beta);
    --header-icon-color: var(--color-beta);
    --header-button-color: var(--link-color);
  }
  
  .theme-settings {
  
    /** Background
     ---------------------------------------------------------*/
  
    --background: var(--color-iota);
    --background-plus: var(--color-beta);
    --background-minus: var(--color-epsilon);
    --background-minus-minus: var(--color-zeta);
  
    /** Highlight
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-blue);
    --highlight-color-pressed: var(--color-blue-pressed);
  
    /** Borders
     ---------------------------------------------------------*/
  
    --border-color: var(--color-theta);
  
    /** Titles
     ---------------------------------------------------------*/
  
    --title-color: var(--background-minus);
  
    /** Buttons
     ---------------------------------------------------------*/
  
    --button-background: var(--background-plus);
  
    /** Switch
     ---------------------------------------------------------*/
  
    --switch-background: var(--background-minus-minus);
  
    /** Checkbox
     ---------------------------------------------------------*/
  
    --checkbox-border-color: var(--background-minus-minus);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-color: var(--title-color);
    --header-background: var(--color-white);
    --header-button-color: var(--highlight-color);
    --header-disabled-button-color: var(--color-theta);
    --header-action-button-color: var(--title-color);
  }
  
  .theme-media {
  
    /** Highlight Color
     ---------------------------------------------------------*/
  
    --highlight-color: var(--color-pink);
    --highlight-color-pressed: var(--color-pink-pressed);
  
    /** Background
     ---------------------------------------------------------*/
  
    --background: var(--color-alpha);
    --background-plus: var(--color-gamma);
    --background-minus: #2B2B2B;
    --background-minus-minus: #1a1a1a;
  
    /** Text Color
     ---------------------------------------------------------*/
  
    --text-color: var(--color-beta);
  
    /** Button
     ---------------------------------------------------------*/
  
    --button-background: var(--background-plus);
  
    /** Header
     ---------------------------------------------------------*/
  
    --header-background: var(--header-pink-background);
    --header-icon-color: var(--text-color);
    --header-button-color: var(--highlight-color);
  
    --action-header-background: var(--header-background);
  
    /** Borders
     ---------------------------------------------------------*/
  
    --border-color: var(--color-gamma);
  
    /** Inputs
     ---------------------------------------------------------*/
  
    --input-background: var(--background-plus);
  
    /** Text Input
     ---------------------------------------------------------*/
  
    --text-input-background: var(--background-minus);
  
    /** Switch
     ---------------------------------------------------------*/
  
    --switch-head-border-color: var(--background-minus-minus);
    --switch-background: var(--background-minus-minus);
  
    /** Checkbox
     ---------------------------------------------------------*/
  
    --checkbox-border-color: var(--background-minus-minus);
  
    /** Buttons
     ---------------------------------------------------------*/
  
     --button-box-shadow: none;
     --button-box-shadow-active: none;
  }
  

.Toast__background___1XsRo{min-height:4.2rem;border:var(--color-gs25) solid .2rem;border-radius:2.1rem;background-color:var(--color-gs90);text-align:center;margin:.5rem;position:fixed;left:0;width:calc(100% - 1.4rem);z-index:70;top:-100%;white-space:normal;display:flex;align-items:center;justify-content:center}.Toast__title___1SaI7{color:var(--color-gs00);margin:1rem}@keyframes Toast__slideOut___2Y7Hd{12%{top:26px}95%{opacity:1;transition:opacity .15}to{top:26px;opacity:0}}.Softkey__softkeyBody___3DQ2I{display:flex;flex-shrink:0;height:var(--kai-softkey-height,30px);background:var(--color-gs00);max-width:100%;z-index:10;border-top:2px var(--color-gs25) solid;white-space:nowrap;padding:0 5px}.Softkey__center___-YjH4{justify-content:center;text-transform:uppercase;font-weight:700}.Softkey__center___-YjH4,.Softkey__sides___3A3HB{display:flex;align-items:center;color:var(--color-gs90);width:100%}.Softkey__sides___3A3HB{text-overflow:ellipsis;overflow:hidden}.Softkey__left___85faS{justify-content:flex-start}.Softkey__right___2b_TH{justify-content:flex-end}.Softkey__fadeIn___3QXaL{animation:Softkey__kaiSoftKeyFadeIn___11oN- .3s cubic-bezier(.3,0,0,1) forwards}.Softkey__unimplementedHandler___3g1as{background:#f08080}@keyframes Softkey__kaiSoftKeyFadeIn___11oN-{0%{opacity:0}to{opacity:1}}.Options__options___1n8nj{width:93%;display:flex;flex-direction:column;bottom:0;overflow:hidden;position:absolute;max-height:80%;margin-left:10px;margin-right:10px}.Options__modalHeader___1Hb0n{padding:5px;color:#242424;background-color:#cbcbcb;border-radius:4px 4px 0 0;text-align:center}.Options__optionsList___1_9SH{overflow:hidden;display:flex;flex-direction:column}.Options__modalItem___1cDiK{height:54px;line-height:54px;vertical-align:middle;background-color:var(--color-rgs00);color:var(--color-rgs90);width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:flex;flex-shrink:0}.Options__selected___19uLK{background:var(--highlight-color);color:var(--color-rgs00)}.Options__label___22yrn{padding:10px}.Overlay__overlay___rL_Jo{position:absolute;z-index:100000;top:var(--kai-status-bar-height);left:0;display:flex;width:100%;bottom:32px;overflow:hidden;height:100%;background-color:rgba(0,0,0,.9)}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}:root{--color-gs100:#000;--color-rgb-gs100:0,0,0;--color-rgb-gs00:255,255,255;--color-rgb-rgs100:0,0,0;--color-gs90:#242424;--color-gs70:#646464;--color-gs55:#8a8a8a;--color-gs40:#acacac;--color-gs25:#cbcbcb;--color-gs15:#e1e1e1;--color-gs00:#fff;--color-purple:#8500db;--color-blue:#3d5dff;--color-orange:#ff4c00;--color-green:#00af31;--color-darker-purple:#500088;--color-darker-blue:#182771;--color-darker-orange:#8a2900;--color-darker-green:#005c1a;--color-rgs100:#000;--color-rgs90:#242424;--color-rgs70:#646464;--color-rgs55:#8a8a8a;--color-rgs40:#acacac;--color-rgs25:#cbcbcb;--color-rgs15:#e1e1e1;--color-rgs00:#fff;--color-gradient-bottom-purple:linear-gradient(to bottom right,#3722ff,#ab00c7);--color-gradient-bottom-blue:linear-gradient(to bottom right,#00a8ff,#6738ee);--color-gradient-bottom-orange:linear-gradient(to bottom right,#ffc410,#ff3701);--color-gradient-bottom-green:linear-gradient(to bottom right,#b3e601,#019a54);--color-gradient-purple:linear-gradient(90deg,#3722ff,#ab00c7);--color-gradient-blue:linear-gradient(90deg,#00a8ff,#6738ee);--color-gradient-orange:linear-gradient(90deg,#ffc410,#ff3701);--color-gradient-green:linear-gradient(90deg,#b3e601,#019a54)}.App__app___NghkZ{flex-direction:column;color:var(--color-gs00);font-family:Open Sans}.App__app___NghkZ,body{width:100%;height:100%;display:flex}body{flex-flow:column;background-color:var(--color-gs90)}iframe[id^=vmx-frameInt_]{position:relative;top:25px}.Page__page___1YcwT{height:100%;display:flex;flex-direction:column;max-height:100%;overflow:hidden;padding-top:26px}.Page__header___3Rp44{display:flex;flex-shrink:0;align-items:center;justify-content:center;width:100%;box-sizing:border-box;background-color:var(--color-gs00);height:28px;padding:0 10px;margin-top:28px}.Page__content___3ZI6M{display:flex;overflow:hidden;height:100%;width:100%;max-height:100%}.Tabs__tabs___3l4-y{flex-direction:column;color:var(--color-gs55)}.Tabs__content___3JD4i,.Tabs__tabs___3l4-y{display:flex;width:100%;height:100%;overflow:hidden}.Tabs__content___3JD4i{flex:1;justify-content:center}.Tabs__header___2mfQ5{padding:3px 0 5px;display:flex;flex-direction:column;align-items:center}.Tabs__titles___2cVJz{display:flex;flex-direction:row;box-sizing:border-box;overflow-x:hidden;max-width:100%;height:15px;margin:0 auto;font-weight:600;font-size:17px;white-space:nowrap}.Tabs__titles___2cVJz span{box-sizing:border-box;padding:0 10px;transition:color .2s ease-in-out}.Tabs__titles___2cVJz .Tabs__active___1svn6{color:var(--color-gs00);font-weight:700}.Tabs__pagination___ich1Q{display:flex;flex-direction:row;justify-content:center;margin-top:10px}.Tabs__pagination___ich1Q>span{margin-right:5px;border-radius:.8rem;width:4px;background-color:var(--color-gs55);transition:all .2s ease-in-out}.Tabs__pagination___ich1Q>span.Tabs__active___1svn6{width:16px;height:4px;background-color:#3d5dff}.Tabs__showAtLeft___1VuMK{position:relative;animation:Tabs__showAtLeft___1VuMK .2s ease-in-out}.Tabs__showAtRight____uCM2{position:relative;animation:Tabs__showAtRight____uCM2 .2s ease-in-out}@keyframes Tabs__showAtLeft___1VuMK{0%{right:50%;opacity:0}to{right:0;opacity:1}}@keyframes Tabs__showAtRight____uCM2{0%{left:50%;opacity:0}to{left:0;opacity:1}}.SignalScreen__gauge___2MT6N{display:flex;flex-direction:column;width:100%;padding:10px;box-sizing:border-box}.SignalScreen__curve___1sc2O{position:relative;background-repeat:no-repeat;background-size:100% auto;width:166px;height:137px;margin:0 auto;display:flex;align-items:center;flex-direction:column;color:#fff;font-weight:600}.SignalScreen__curveStatus0___3oxlE{background-image:url("/resources/images/status0.png")}.SignalScreen__curveStatus1___2xE7T{background-image:url("/resources/images/status1.png")}.SignalScreen__curveStatus2___2wEI4{background-image:url("/resources/images/status2.png")}.SignalScreen__curveStatus3___2zJxk{background-image:url("/resources/images/status3.png")}.SignalScreen__curveStatus4___1qf-p{background-image:url("/resources/images/status4.png")}.SignalScreen__curveStatus5___pw_vY{background-image:url("/resources/images/status5.png")}.SignalScreen__curve___1sc2O .SignalScreen__result___3msHG{font-size:18px;margin-top:58px;text-transform:uppercase}.SignalScreen__signalClassification___2F8g1{width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center}.SignalScreen__curve___1sc2O .SignalScreen__dbm___1rQmo{font-size:14px;margin-top:30px;color:#bcbcbc}html[dir=rtl] .SignalScreen__curve___1sc2O,html[dir=rtl] .SignalScreen__curve___1sc2O .SignalScreen__dbm___1rQmo,html[dir=rtl] .SignalScreen__curve___1sc2O .SignalScreen__result___3msHG{transform:rotateY(180deg)}.SignalScreen__connectionInfo___1FeHK{display:flex;flex-direction:column;width:100%;align-items:center;line-height:normal;margin:15px auto 0;z-index:1;position:relative;overflow:hidden;box-sizing:border-box}.SignalScreen__connectionInfo___1FeHK .SignalScreen__connectLabel___3kYX9{font-size:14px;font-weight:400;color:#bababa}.SignalScreen__connectionInfo___1FeHK .SignalScreen__connectType___1eO-U{font-size:17px;font-weight:400;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;width:90%}@media screen and (orientation:landscape){.SignalScreen__gauge___2MT6N{flex-direction:row;align-items:center;align-content:space-between}.SignalScreen__curve___1sc2O{width:134px;height:111px;margin:0 18px 0 10px}html[dir=rtl] .SignalScreen__curve___1sc2O{margin:0 10px 0 18px}.SignalScreen__curve___1sc2O .SignalScreen__result___3msHG{font-size:16px}.SignalScreen__curve___1sc2O .SignalScreen__dbm___1rQmo{margin-top:20px}.SignalScreen__connectionInfo___1FeHK{align-items:flex-start;width:calc(100% - 134px - 10px - 18px);max-height:80px;margin:0 auto}.SignalScreen__connectionInfo___1FeHK .SignalScreen__connectType___1eO-U{white-space:normal;width:100%;text-align:left}html[dir=rtl] .SignalScreen__connectionInfo___1FeHK .SignalScreen__connectType___1eO-U{text-align:right}.SignalScreen__signalClassification___2F8g1{width:120px}}.ErrorHandler__errorHandlerMessage___1N02B{font-family:Open Sans Semibold;font-size:18px;color:#fff;text-align:center;justify-content:center;align-items:center;display:flex;padding:0 10%}.Home__historySoftkey___19knT,.Home__softkeyBodyCustom___1h2vM{background:var(--color-gs100);border-top:2px var(--color-rgs70) solid}.Home__historySoftkey___19knT div,.Home__softkeyBodyCustom___1h2vM div{color:var(--color-gs15)}.Home__historySoftkey___19knT :nth-child(3){width:260px}.Home__softkeyBodyCustomDisabled___rpSih{background:var(--color-gs100);border-top:2px var(--color-rgs70) solid}.Home__softkeyBodyCustomDisabled___rpSih div{color:var(--color-gs70)}.Icon__icon___2OsFJ{fill:currentColor;width:40px;height:40px}@media screen and (orientation:portrait){.Icon__icon___2OsFJ{margin-left:10px;margin-right:18px}html[dir=rtl] .Icon__icon___2OsFJ{margin-left:18px;margin-right:10px}}.SpeedTestScreen__speedScreen___1Jp8G{display:flex;flex-grow:1;flex-direction:column;width:100%;height:100%}.SpeedTestScreen__netWorkInfoArea____J5wZ{box-sizing:border-box;height:48px;padding:10px;font-size:17px;font-weight:600;text-align:center;line-height:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#fff}.SpeedTestScreen__netWorkInfoArea____J5wZ .SpeedTestScreen__icon___3fQXn{width:16px;height:16px;margin:4px 5px;vertical-align:middle}html[dir=rtl] .SpeedTestScreen__netWorkInfoArea____J5wZ .SpeedTestScreen__icon___3fQXn{transform:rotateY(180deg)}.SpeedTestScreen__netWorkInfoArea____J5wZ .SpeedTestScreen__label___CQwQU{vertical-align:middle;display:inline-block;max-width:calc(100% - 16px - 10px);height:24px;overflow:hidden;text-overflow:ellipsis}.SpeedTestScreen__resultArea___35rfv{display:flex;flex-direction:column;width:100%;height:100%}.SpeedTestScreen__result___2KetE{display:flex;flex-direction:row;width:100%;padding:0 10px;margin-bottom:15px;box-sizing:border-box;align-items:center}.SpeedTestScreen__columns___1q8Px{display:flex;flex-direction:column}.SpeedTestScreen__columns___1q8Px .SpeedTestScreen__label___CQwQU{font-size:14px;color:#bababa;margin:5px 0 6px}.SpeedTestScreen__rows___q_uVc{display:flex;flex-direction:row;align-items:flex-end}html[dir=rtl] .SpeedTestScreen__rows___q_uVc{justify-content:end}.SpeedTestScreen__rows___q_uVc .SpeedTestScreen__value___3Ujc0{margin:0;font-size:20px;font-weight:600;color:#fff}.SpeedTestScreen__rows___q_uVc .SpeedTestScreen__unit___3QbGU{margin-left:3px;color:#bcbcbc}.SpeedTestScreen__flashit___bnvwv{color:#f2f;animation:SpeedTestScreen__flash___1d58Y linear 1s infinite}.SpeedTestScreen__downloadBG___103pr{color:#43f67b}.SpeedTestScreen__uploadBG___3fwXX{color:#f69a19}.SpeedTestScreen__pingBG___2EmA8{color:#1cb8f7}@keyframes SpeedTestScreen__flash___1d58Y{0%{opacity:1}50%{opacity:.1}to{opacity:1}}@media screen and (orientation:landscape){.SpeedTestScreen__netWorkInfoArea____J5wZ{height:32px;padding:2px 10px}.SpeedTestScreen__resultArea___35rfv{flex-direction:row}.SpeedTestScreen__result___2KetE{margin-bottom:0;flex-direction:column}.SpeedTestScreen__columns___1q8Px .SpeedTestScreen__label___CQwQU{margin:10px 0 0}.SpeedTestScreen__rows___q_uVc{flex-direction:column;align-items:center}.SpeedTestScreen__rows___q_uVc .SpeedTestScreen__value___3Ujc0{margin:5px 0 0}.SpeedTestScreen__rows___q_uVc .SpeedTestScreen__unit___3QbGU{margin-top:5px;margin-left:0;text-align:center}}.HistoryScreen__list___35-w0{width:100%;height:100%;overflow-y:scroll}.Card__card___1zKUO{display:flex;flex-direction:column;width:100%;overflow:hidden;padding:10px 20px;color:#7f7f7f;box-sizing:border-box;margin-top:5px}.Card__cardHeader___3fDT1{height:24px}.Card__cardName___1HGL8{width:100%;height:100%;font-weight:600;font-size:17px;line-height:normal;overflow:hidden;text-overflow:ellipsis;text-align:center;white-space:nowrap}.Card__cardName___1HGL8 span{display:inline-block;max-width:calc(100% - 16px - 10px);height:100%;vertical-align:middle;overflow:hidden;text-overflow:ellipsis}.Card__cardIcon___21eOv{height:16px;width:16px;margin:4px 5px;vertical-align:middle}html[dir=rtl] .Card__cardIcon___21eOv{transform:rotateY(180deg)}.Card__cardBody___1zAFc{display:flex;flex-direction:column;padding-top:5px}.Card__row___1fdel{display:flex;flex-direction:row;width:100%;height:22px;margin-top:5px;overflow:hidden;align-items:center;align-content:space-between;box-sizing:border-box}.Card__col6___2AEjP{display:flex;width:calc(50% - 3px);line-height:22px}.Card__fontLg___28QXC,.Card__fontMd___25yRP{font-size:17px;font-weight:300}.Card__textToLeft___1OG4l{text-align:left;width:100%;align-self:flex-start}.Card__textToRight___3POUc{text-align:right;width:100%;align-self:flex-end}strong{font-weight:600!important;font-size:18px!important}.Card__dateResult___2ZSTp{margin-right:5px}.Card__focus___LBSc6{background-color:#3d5dff;color:#fff}@media screen and (orientation:landscape){.Card__cardHeader___3fDT1{display:flex;flex-direction:row;width:100%;align-items:center;align-content:space-between}.Card__cardName___1HGL8{width:calc(65% - 5px)}.Card__dateHeader___WmlBU{font-size:16px;font-weight:300;width:30%;padding-left:7%}html[dir=rtl] .Card__dateHeader___WmlBU{text-align:left}}.Loading__loading___tOl_5{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:100%;box-sizing:border-box;padding:10px}.Loading__image___1-YIY{animation:Loading__rotate___NhRpC 1s linear infinite;text-align:center;margin-left:18%}@keyframes Loading__rotate___NhRpC{to{transform:rotate(1turn)}}.Loading__text___3Z8-j{margin-top:10px;text-align:center}.Loading__softkeyBodyCustom___3pGzI{display:none}