/* ----------------------------------
 * Range selector
 * ---------------------------------- */
/* Main dialog setup */
.value-selector-range-popup {
  margin-bottom: 4rem;
}

.value-selector-range-popup .range-control-container {
  text-align: center;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.value-selector-range-indicator-container {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  padding-right: 0.1rem;
  height: 29.7rem;
}

.value-selector-range-popup .value-selector-range-meter {
  width: 29.7rem;
  height: 2.4rem;
  margin-top: 13.5rem;
  background: #e1e1e1;
  border: none;
  border-radius: 0.5rem;
  transform: rotate(270deg);
}

.value-selector-range-meter::-moz-meter-bar{
  background: #00B965;
  border-radius: 0.5rem;
}

.value-selector-range-popup div.icon.value-inc:after{
  content: url(value_selector/images/icons/arrowUp.png);
}

.value-selector-range-popup div.icon.value-dec:after{
  content: url(value_selector/images/icons/arrowDown.png);
}

.value-range-info-container {
  margin-left: 1.5rem;
  margin-top: 13.7rem;
  font-size: 1.8rem;
  color: black;
  position:absolute;
}

.range-value-formatted-lbl {
  width: 16rem;
  text-align: center;
}
