@keyframes toaster {
  0% {
    opacity: 0.15;
    width: 8.6rem;
    background-color: transparent;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    border-top: 0.2rem solid white;
  }
  50% {
    opacity: 1;
    width: 8.6rem;
    background-color: transparent;
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    border-top: 0.2rem solid #B3F3FF;
  }
  100% {
    width: 100%;
  }
}

#notification-toaster {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -.2rem;
  width: 100%;
  height: 6rem;
  background-color: transparent;
  visibility: hidden;
  transform: translateY(-5rem);
  /* This transition is used when hiding the toaster. */
  transition: transform ease .3s, background-color 0s ease .3s, visibility 0s ease .3s;
}

/*
 * For attention window.
 */
.fake-notification-toaster {
  height: 6rem;
  width: 100%;
  position: relative;
}

/* IN-APP left icon container */
#toaster-left-icon-container {
  background-color: var(--color-purple);
  height: 6rem;
  width: 4rem;
}

#toaster-icon {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.5rem;
  pointer-events: none;
}

#toaster-icon-wrapper {
  width: 4.2rem;
  height: 6rem;
  background-color: var(--color-gs100);
}

#toaster-icon-wrapper.system {
  background-color: var(--color-purple);
}

#toaster-icon-wrapper.communications {
  background-color: var(--color-lime);
}

#toaster-icon-wrapper.productivity {
  background-color: var(--color-orange);
}

#notification-container > div {
  left: 5.2rem;
  width: calc(100% - 7.1rem);
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  text-align: left;
}

/* For notification title */
.toaster-title {
  pointer-events: none;
  position: absolute;
  bottom: 2.8rem;
  color: var(--color-gs90);
  font-size: 1.8rem;
}

.toaster-detail {
  pointer-events: none;
  position: absolute;
  top: 3.2rem;
  color: var(--color-gs70);
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notification-toaster.displayed {
  transform: translateY(0);
  /* We keep the visibility transition to make Marionette tests easier to write. */
  transition: transform .2s ease .4s, visibility 0s ease .4s;
  background-color: var(--color-gs10);
  visibility: visible;
}

#notification-toaster.displayed:after {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  content: '';
}

#notification-toaster:after {
  border-color: white;
  visibility: visible;
}

#notification-toaster.displayed:after {
  animation-name: toaster;
  animation-duration: .4s;
  transform: translateY(.2rem);
  transition: border-color 0s ease .4s;
  height: 0.6rem;
  box-shadow: 0 0.6rem 0.6rem var(--color-gs90);
  top: 5rem;
}

#notification-bar {
  height: 3rem;
  width:100%;
  padding:0rem;
}

#notification-bar [data-icon] {
  color: #008eab;
  margin: 0.5rem 0;
}

#notification-bar .title-container {
  display:flex;
  background-color: var(--color-gs100);
  width: 100%;
  float: left;
  height: 3rem;
  font-size:1.8rem;
  padding-left:1rem;
  line-height:3rem;
}

#notification-bar .title {
  width:91%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

#notification-bar button {
  flex: initial;
  width: auto;
  height: 4.5rem;
  padding: 0;
  border: 0;
  background: none;
  color: #008eab;
  font: italic normal 1.3rem/1.3rem auto;
}

#notification-bar button[disabled] {
  color: rgba(255, 255, 255, 0.2);
}

/* remove ugly dotted outline when focus */
#notification-bar button::-moz-focus-inner {
  border: 0;
}

#notifications-container {
  position: absolute;
  width: 100%;
  background-color: var(--color-gs100);
  -moz-animation-duration: 0.16s;
  opacity: 0.85;
  /* minus cost control, quick settings, bar and grippy */
  height: calc(100% - 10rem);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* title, timestamp */
#notifications-container .notification {
  height: 7.1rem;
  font-size: 1.5rem;
  color: var(--color-gs45);
  overflow: hidden;
}

#notifications-container .notification:active {
  background-color: var(--color-PURPLE);
}

#notifications-container .notification:first-child {
  border-top-color: black;
}

#notifications-container .notification div {
  pointer-events: none;
}

#notifications-container .notification > img {
  float: left;
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right:1rem;
  padding:1rem 0 2.5rem 1rem;
  pointer-events: none;
}

#notifications-container .notification > div {
  width: calc(100% - 1rem - 3rem - 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notifications-container .notification > div.title-container {
  height: 2rem;
  padding-top: 0.5rem;
  display: flex;
  font-weight: bold;
}

#notifications-container .notification > div.title-container .title {
  font-size:1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-gs00);
}

#notifications-container .notification > div.title-container .timestamp {
  flex: initial;
  padding: 0;
  max-width: 7.5rem;
  font-size: 1.8rem;
  font-style: regular;
  color: var(--color-gs00);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* For notification content */
#notifications-container .notification > div.detail {
  font-size: 1.5rem;
  color: var(--color-gs45);
  margin-top: 0.2rem;
}

#notifications-container .notification > div.detail .detail-content {
  height:1.7rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notifications-container .notification > div.detail .timestamp {
  max-width: 7.5rem;
  font-size: 1.8rem;
  font-style: regular;
  color: var(--color-gs00);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notifications-container .notification.snapback,
.notification-toaster.snapback {
  transition: transform 0.3s ease-out;
  transform: translateX(0);
}

#notifications-container .notification.disappearing,
#notifications-container .notification.disappearing-via-clear-all,
.notification-toaster.disappearing {
  transition: transform 0.2s linear;
  transform: translateX(100%);
}

#notifications-container .notification.disappearing.left,
.notification-toaster.disappearing.left {
  transform: translateX(-100%);
}

#notifications-container .notification.disappearing ~ .notification {
  transition: transform 0.3s linear;
  transform: translateY(-6.2rem);
}

@keyframes fn-rotate {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* RTL View */

#notifications-container .notification[data-predefined-dir="rtl"] > div.detail {
  direction: rtl;
}

#notifications-container .notification[data-predefined-dir="ltr"] > div.detail {
  direction: ltr;
}


html[dir="rtl"] #toaster-icon{
  left: unset;
  right: 1.5rem;
}

html[dir="rtl"] #notification-container > div {
  left: unset;
  right: 5.6rem;
  text-align: right;
}

html[dir="rtl"] #notification-bar .title-container {
  float: right;
}

html[dir="rtl"] #notifications-container .notification > img {
  float: right;
}

html[dir="rtl"] #notifications-container .notification > div {
  margin-left: unset;
  margin-right: 3.7rem;
}

/*
 * For the notification title, we need to use dir="auto" to display
 * parenthesis and periods in their proper place. However, we still
 * want the text to align right when in an RTL language, so we use
 * the following override. See bug 1134453 and bug 1142925.
 */
html[dir="rtl"] #notifications-container .notification:not([data-predefined-dir="ltr"]) .title-container .title:-moz-dir(ltr) {
  text-align: right;
  -moz-margin-end: unset;
  margin-left: 0.5rem;
}

html[dir="rtl"] #notifications-container .notification:not([data-predefined-dir="ltr"]) .detail-content:-moz-dir(ltr) {
  text-align: right;
}
