#cards-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  .cards-app {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }

  .panel-appList--opened &,
  .panel-sidemenu--opened & {
    display: none;
  }
}
