
form[role="dialog"][data-subtype="menu"] {
  visibility: hidden;
  transform: translateY(100%);
  transition: transform ease-in-out .2s, visibility .2s;
  bottom: var(--softkeybar-height, 3rem);
}
form[role="dialog"][data-subtype="menu"].visible {
  visibility: visible;
  transform: translateY(0);
}
.dialog-animating {
  pointer-events: none;
}
.dialog-animating .disable-when-dialog-animates {
  pointer-events: none;
}
