html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 10px;
}

html, body, #root, .container {
  background-color: var(--color-gs00);
  overflow: hidden;
  position: fixed;
}

.loading {
  height: calc(100% - var(--softkeybar-height));
  padding-top: var(--statusbar-height);
  filter: invert(27%) sepia(79%) saturate(4699%) hue-rotate(210deg) brightness(105%) contrast(105%);
}

.loading-image {
  margin: 11rem 8.2rem 10.4rem;
  width: 7rem;
  height: 7rem;
  background-image: url('/resources/icons/img_loader_s.png');
  background-size: contain;
  background-repeat: no-repeat;
  /*! color: rgb(0, 107, 255); */
  filter: saturate(0%);
}

.softkey-placeholder {
  background-color: var(--color-gs20);
  height: var(--softkeybar-height);
}

@media only screen and (orientation: landscape) {
  .loading-image {
    margin: 6.6rem 13.2rem 9.2rem;
  }
}
